<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookshelf Apps</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="head_bar">
    <h1 class="head_bar__title">Bookshelf Apps</h1>
</header>
<main>
    <section class="input_section">
        <h2>Masukkan Buku Baru</h2>
        <form id="inputBook" method="POST" action="/">
            <div class="input">
                <label for="title">Judul</label>
                <input id="inputBookTitle" type="text" name="title" required>
            </div>
            <div class="input">
                <label for="author">Penulis</label>
                <input id="inputBookAuthor" type="text" name="author" required>
            </div>
            <div class="input">
                <label for="year">Tahun</label>
                <input id="inputBookYear" type="number" name="year" required>
            </div>
            <button id="bookSubmit" type="submit">Masukkan Buku ke rak <span>Belum selesai dibaca</span></button>
        </form>
    </section>

    <section class="search_section">
        <h2>Cari Buku</h2>
        <form id="searchBook">
            <label for="searchBookTitle">Judul</label>
            <input id="searchBookTitle" type="text">
            <button id="searchSubmit" type="submit">Cari</button>
        </form>
    </section>

    <section class="book_shelf">
        <h2>Belum selesai dibaca</h2>

        <div id="incompleteBookshelfList" class="book_list">
            <% unread.forEach(i=> { %>
            <!--BUKU BELUM DIBACA-->
            <div class="book_item">
                <h3><%= i.title %></h3>
                <p><%= i.author %></p>
                <p class="year"><%= i.year %></p>
                <button class="green">Selesai dibaca</button>
                <button class="red"><a href="/delete/<%= i.id %>">Hapus buku</a></button>
            </div>
            <% }); %>
        </div>
    </section>

    <section class="book_shelf">
        <h2>Selesai dibaca</h2>

        <div id="completeBookshelfList" class="book_list">

            <!--BUKU SELESAI DIBACA-->

        </div>
    </section>
</main>
<!--
<script src="/js/dom.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
-->
</body>
</html>
